
<br>
<div class="row">
  <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-12 columns ">

    <!-- FEEDS COLUMN -->
    <div id="feedColumn" class="large-2 medium-2 small-12 columns buttons">
      <div class="row">
        <p class="header" ng-if="!loggedIn">Topics</p>
        <p class="header" ng-if="loggedIn">Subscriptions</p>
        <div class="row">
          <ul>
            <li class="subscriptions" ng-repeat="subscription in subscriptions"><a ng-href='/topics/{{subscription.name}}'>{{subscription.name}}</a></li>
          </ul>
        </div>
        <p class="header" ng-if="loggedIn">Random Topics</p>
        <div class="row">
          <ul>
            <li class="subscriptions" ng-repeat="topic in topicFeed"><a ng-href='/topics/{{topic.name}}'>{{topic.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- MAIN COLUMN -->
    <div class="large-10 medium-8 small-12 columns buttons">
      <div class="header">Top Stories For You</div>
      <dl class="sub-nav">
      <dt id="filterBar">Filter:</dt>
        <dd class="filter active"id="likes"><a class="filterPill" href="#" ng-click="sortLikes()">Likes</a></dd>
        <dd class="filter " id="dislikes"><a class="filterPill" href="#" id="views" ng-click="sortDislikes()">Dislikes</a></dd>
        <dd class="filter " id="newest"><a class="filterPill" href="#" ng-click="sortNewest()">Newest</a></dd>
        <dd class="filter " id="oldest" ><a class="filterPill" href="#" ng-click="sortOldest()">Oldest</a></dd>
        <dd class="filter " id="subscriptions" ><a class="filterPill" href="#" ng-click="sortSubscriptions()">Subscriptions</a></dd>
      </dl>
      <div class="post" ng-repeat="post in posts track by $index">
        <div class="postBody">
          <button ng-if="post.userPost" class="right">delete</button>
          <div ng-if="post.answerWritten">
            <p>answered • <a class="topic" ng-href="/topics/{{post.topic.name}}">{{post.topic.name}}</a></p>
          </div>
          <div ng-if="!post.answerWritten">
            <p>unanswered • <a class="topic" ng-href="/topics/{{post.topic.name}}">{{post.topic.name}}</a></p>
          </div>
          <h4><a ng-href='/thread/{{post._id}}'>{{post.title}}</a></h4>
          <p><img id="profilePicture" data-ng-src="data:image/png;base64,{{post.author.picture}}" data-err-src="images/png/avatar.png"/><a ng-href='/profile/{{post.author._id}}' class="author"> {{post.author.username}}</a> {{post.author.work}}</p>
          <p ng-bind-html="post.content | unsafe"></p>
          <p>tags: {{post.tags}}</p>
          <button ng-show="!post.liked" ng-click="togglePostLike($index)">Like | <span>{{post.likes}}</span></button>
          <button ng-show="post.liked" ng-click="togglePostLike($index)">Unlike | <span>{{post.likes}}</span></button>
          <button class="dislikeBtn" ng-show="!post.disliked" ng-click="togglePostDislike($index)">Dislike | <span>{{post.dislikes}}</span></button>
          <button class="dislikeBtn" ng-show="post.disliked" ng-click="togglePostDislike($index)">Undo | <span>{{post.dislikes}}</span></button>
          <a class='right' href="" ng-if="!post.showComments" ng-click="showComments($index)">Comments<span> {{post.comments.length}}</span></a>
          <a class='right' href="" ng-if="post.showComments" ng-click="hideComments($index)">Comments<span> {{post.comments.length}}</span></a>
        </div>
        <div class="commentsChain" ng-if="post.showComments">
          <hr>
          <div class="commentSection">
            <div class="commentInput">
              <div class="row">
                <div class="columns small-11">
                  <textarea type="text" ng-model="comment" style="width: 85%;" placeholder="comment..."></textarea>
                </div>
                <div class="columns small-1">
                  <button class="right" ng-click="submitComment(comment, post)">Submit</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="comments" ng-repeat="comment in comments">
              <div class="commentBody">
                <button ng-if="comment.userPost" ng-click="deletePost(comment)" class="right">delete</button>
                <h6><a href="">{{comment.author.username}}</a></h6>
                <p ng-bind-html="comment.content | unsafe"></p>
                <button ng-show="!comment.liked" ng-click="toggleCommentLike($index)">Like | <span>{{comment.likes}}</span></button>
                <button ng-show="comment.liked" ng-click="toggleCommentLike($index)">Unlike | <span>{{comment.likes}}</span></button>
                <button class="dislikeBtn" ng-show="!comment.disliked" ng-click="toggleCommentDislike($index)">Dislike | <span>{{comment.dislikes}}</span></button>
                <button class="dislikeBtn" ng-show="comment.disliked" ng-click="toggleCommentDislike($index)">Undo | <span>{{comment.dislikes}}</span></button>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
