<br>
<div class="row fullBody">
  <!-- FEED COLUMN -->
  <div class="small-10 small-offset-1 large-2 large-offset-1 columns">
    <h6>FEEDS</h6>
    <hr>
    <ul>
      <li ng-repeat="questions in topic"><a href="">{{topic.posts.name}}</a></li>
    </ul>
  </div>

  <!-- MAIN COLUMN -->
  <div class="small-10 small-offset-1 large-6 large-offset-1 columns primaryColumn">
    <div class="buttons" id="question">
      <div class="row">
        <h4><strong>{{question.title}}</strong></h4>
      </div>
      <div class="row">
        <button ng-click="showAnswerForm()">Answer</button>
        <button class="right" ng-click="showComments()">Comment</button>
        <hr>
        <span>{{question.comments}}</span>
      </div>
      <div class="row" id="answerForm" ng-show="displayAnswerForm">
        <textarea name="" id="answer" cols="30" rows="8" ng-model="answerText" placeholder="answer..."></textarea>
        <button>Submit</button>
      </div>
      <div class="row" ng-show="displayComments">
        <input type="text" ng-model="comment" placeholder="comment...">
        <button ng-click="postComment(comment)">Comment</button>
        <div class="row" ng-repeat="comment in comments track by $index">
          <p>{{comment.author}}</p>
          <div class="row">
            <p>{{comment.content}}</p>
          </div>
          <div class="row">
            <input type="text" ng-model="reply" placeholder="reply...">
            <button ng-click="postReply(reply)">Reply</button>
            <p>likes: <span>{{comment.likes}}</span></p>
            <p>views: <span>{{comment.views}}</span></p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h6><strong>Answer</strong></h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi inventore aliquid nulla omnis molestiae sed maiores doloremque totam animi, cumque fugit impedit cum laborum esse error repudiandae, placeat tempora ipsa.</p>
      <div infinite-scroll='loadMore()' infinite-scroll-distance='0'>
        <p ng-repeat="comment in comments track by $index">{{comment}}</p>
      </div>
    </div>
  </div>

  <!-- TOPICS COLUMN -->
  <div class="small-10 small-offset-1 large-3 large-offset-1 columns end">
    RANDOM TOPICS
  </div>

</div>
