
<br>
<div class="row">


  <!-- MAIN COLUMN -->
  <div class="buttons small-10 small-offset-1 large-6 large-offset-1 columns primaryColumn">
    <div class="header">Ask a question</div>

    <input ng-model="question.title" placeholder="Question title">
    <textarea ng-model="question.content" cols="30" rows="10" placeholder="Add extra details..."></textarea>
    <input ng-model="question.tags" placeholder="Tags (comma separated)">
    <div id="submitInput">
      <input type="text" ng-model="selectedTopic" placeholder="topic">
      <button class="button" data-dropdown="autoCloseExample" aria-controls="autoCloseExample" ng-click="showDropDown()" aria-expanded="false">Choose from topics</button>
      <ul ng-hide="toggleDropdown" id="autoCloseExample" class="f-dropdown" data-dropdown-content tabindex="-1" aria-hidden="true" aria-autoclose="false" tabindex="-1">
        <li><input type="text" ng-change="checkTopic()" ng-model="searchTopic" placeholder="Search Topics..."></li>
        <li ng-repeat="topic in filteredTopics = ( topics | filter:searchTopic)"><a ng-click="addTopicToPost(topic)" href="#">{{topic.name}}</a></li>
        <button ng-hide="filteredTopics.length" id="createTopic" data-reveal-id="myModal" href="#">Don't see your topic? Make it!</button>
      </ul>
      <button class="right button-submit" ng-click="submitQuestion(question, selectedTopic)">Post</button>
    </div>
  </div>

  <!-- TOPICS COLUMN -->
  <div class="small-10 small-offset-1 large-2 large-offset-1 columns end">
    <div class="header">Top Question</div>
    <div id="topQuestion">
      <a href="/thread/{{topQuestion._id}}">{{topQuestion.title}}</a>
      <p>By: {{topQuestion.author.username}}</p>
      <span class="stats">Likes | {{topQuestion.likes}}</span>
    </div>
  </div>
</div>

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="buttons large-10 large-offset-1 small-12 small-offset-1 columns primaryColumn">
    <h6 class="header">Add a Topic</h6>
    <input ng-model="topic.name" placeholder="Topic title">
    <textarea ng-model="topic.about" cols="30" rows="10" placeholder="What's it all about?"></textarea>
      <button class="right button-submit" ng-click="submitTopic(topic)">Submit</button>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
