
<br>
<div class="row">

  <div id=""></div>
  <div class="small-10 small-offset-1 large-1 large-offset-1 columns">
    <hr>
  </div>

  <!-- MAIN COLUMN -->
  <div class="buttons small-10 small-offset-1 large-4 large-offset-1 columns primaryColumn">
    <h6>Ask a specific question</h6>

    <input ng-model="question.title" placeholder="Question title">
    <textarea ng-model="question.content" cols="30" rows="10" placeholder="Add extra details..."></textarea>
    <input ng-model="question.tags" placeholder="Tags (comma separated)">
    <div id="submitInput">
      <input type="text" ng-model="selectedTopic" placeholder="topic">
      <button class="button" data-dropdown="autoCloseExample" aria-controls="autoCloseExample" ng-click="showDropDown()" aria-expanded="false">Choose from topics</button>
      <ul ng-hide="toggleDropdown" id="autoCloseExample" class="f-dropdown" data-dropdown-content tabindex="-1" aria-hidden="true" aria-autoclose="false" tabindex="-1">
        <li><input type="text" ng-change="checkTopic()" ng-model="searchTopic" placeholder="Search Topics..."></li>
        <li ng-repeat="topic in filteredTopics = ( topics | filter:searchTopic)"><a ng-click="addTopicToPost(topic)" href="#">{{topic.name}}</a></li>
        <button ng-hide="filteredTopics.length" id="createTopic" data-reveal-id="myModal" href="#">Don't see your topic? Make it!</button>
      </ul>
      <button class="right button-submit" ng-click="submitQuestion(question, selectedTopic)">Post</button>
    </div>
  </div>

  <!-- TOPICS COLUMN -->
  <div class="small-10 small-offset-1 large-3 large-offset-1 columns end">
    <hr>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim distinctio veniam nobis blanditiis
  </div>
</div>

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
