
<br>
<div class="row fullBody">

  <!-- FEEDS COLUMN -->
  <div class="small-10 small-offset-1 large-1 large-offset-1 columns">
    <h6>FEEDS</h6>
    <hr>
    <ul>
      <li ng-repeat="topic in topicFeed"><a href="">{{topic.name}}</a></li>
    </ul>
  </div>

  <!-- MAIN COLUMN -->
  <div class="small-10 small-offset-1 large-4 large-offset-1 columns primaryColumn">
    <h4>Top Stories For You</h4>
    <hr>
    <div class="post" ng-repeat="post in posts track by $index">
      <p><span></span>{{post.topic.name}}</p>
      <h4>{{post.title}}</h4>
      <p>{{post.author.username}}, {{post.author.work}}</p>
      <p>{{post.content}}</p>
      <button ng-click="likePost(post)">Likes | <span>{{post.likes}}</span></button>
      <a ng-click="dislike(post)" href="">Dislike</a> |
      <a href="">Comments <span>{{post.comments.length}}</span></a>
      <hr>
    </div>
  </div>

  <!-- TOPICS COLUMN -->
  <div class="small-10 small-offset-1 large-3 large-offset-1 columns end">
    RANDOM TOPICS
    <hr>
  </div>

</div>
