<div id="navContainer">
  <div class="row">
    <div class="large-12  columns ">
      <nav class="top-bar" data-topbar role="navigation" ng-controller='usersCtrl'>
        <ul class="title-area">
          <li class="name">
            <h1 id="quora-title"><a ui-sref="home">Quora</a></h1>
          </li>
          <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li class="has-form">
              <div ng-if="tagFilter" class="row collapse">
                <div class="medium-8 small-9 columns">
                  <input type="text" ng-model="tag" placeholder="Search By Tag">
                </div>
                <div class="medium-4 small-3 columns">
                  <a href="#" ng-click="filterByTag(tag)" ng-enter="filterByTag(tag)" class="alert button expand">Search</a>
                </div>
              </div>
            </li>
          </ul>
          <!-- Right Nav Section -->
          <ul class="right navBar">
            <li><a ui-sref="home" ng-if="loggedIn"><i class="fi-home"></i> Home</a></li>
            <li><a ui-sref="compose" ng-if="loggedIn"><i class="fi-pencil"></i> Compose</a></li>
            <li><a id="notifs" ui-sref="users.notifications" ng-if="loggedIn"><span ng-if="newNotifications.length > 0" id="notifNumber">{{newNotifications.length}}</span> Notifications</a></li>
            <li><a href="/profile/{{currentUser._id}}" ng-if="loggedIn"><img id="profilePicture" data-ng-src="data:image/png;base64,{{picture}}" data-err-src="images/png/avatar.png"/> {{currentUser.username}}</a></li>
            <li><a ui-sref="users.login" ng-if="!loggedIn"> Login</a></li>
            <li><a ui-sref="home" ng-if="loggedIn" ng-click="logout()"> Logout</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
  <hr class="navBarLine">
</div>
