<nav class="top-bar" data-topbar role="navigation" ng-controller='usersCtrl'>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Quora</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="text" placeholder="Search Here">
          </div>
          <div class="large-4 small-3 columns">
          <a href="#" class="alert button expand">Search</a>
        </div>
        </div>
      </li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li><a ui-sref="users.login" ng-hide="LoggedIn">Login</a></li>
      <li><a ui-sref="home" ng-show="LoggedIn" ng-click="logout()">Logout</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">

    </ul>

  </section>
</nav>
