<br>
<div class="row fullBody">
  <div class="medium-2 columns filler">
    &nbsp;
  </div>

  <!-- FULL HEIGHT PRIMARY COLUMN -->

  <div class="medium-2 columns feeds">
    FEEDS
    <hr>
    <ul>
      <li>Lorem</li>
      <li>ipsum</li>
      <li>dolor</li>
      <li>sit</li>
      <li>amet</li>
      <li>consectetur</li>
      <li>adipisicing</li>
      <li>elit</li>
    </ul>
  </div>
  <!-- <div class="medium-4 columns primaryColumn"> -->
  <form action="submit">
    <input ng-model="postTitle">
    <textarea ng-model="postBody">
      <button type="button">Post!</button>
    </form>

    <!-- </div> -->

    <!-- INDEPENDENT FULL HEIGHT ABOUT COLUMN -->

    <div class="medium-2 column profileAbout">
      RANDOM TOPICS
      <hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Enim distinctio veniam nobis blanditiis labore impedit error p
      orro, laboriosam incidunt explicabo aspernatur hic dolore tempora
      repudiandae adipisci sit corporis perspiciatis et voluptas facere
      vero quis! Quas laudantium illo, corrupti, molestiae dicta beatae,
      reiciendis, perspiciatis eum distinctio fugiat modi! Inventore,
      cupiditate quaerat, vitae incidunt maxime dolore exercitationem,
      aliquam ex illo assumenda architecto quia impedit voluptatum itaque
      fugit praesentium distinctio est tempore animi quos iste. Aspernatur
      similique corporis incidunt magnam nulla sint
    </div>

    <div class="medium-2 columns filler">&nbsp;</div>

  </div>
