
<br>
<div class="row fullBody">

  <div class="small-10 small-offset-1 large-1 large-offset-1 columns">
    <hr>
    <!-- ngrepeat -->
  </div>

  <!-- MAIN COLUMN -->
  <div class="buttons small-10 small-offset-1 large-4 large-offset-1 columns primaryColumn">
    <form action="submit">
      <h6>Ask a specific question</h6>
      <input ng-model="postTitle" placeholder="Question title">
      <input ng-model="topic" placeholder="Tags (comma separated)">
      <textarea ng-model="postBody" cols="30" rows="10" placeholder="Add extra details..."></textarea>
      <div id="submitInput">
        <input class="left" ng-model="topic" placeholder="Topic">
        <button class="right button-submit" type="button">Post</button>
      </div>
    </form>
  </div>

  <!-- TOPICS COLUMN -->
  <div class="small-10 small-offset-1 large-3 large-offset-1 columns end">
    <hr>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim distinctio veniam nobis blanditiis
  </div>

</div>
