<br>
<div class="row">
  <div class="large-10 large-offset-1 small-12 columns">
    <!-- MAIN COLUMN -->
    <div class="large-3 small-12 columns buttons">
      <div class="header">Filter</div>
      <ul class="filter">
        <li><a href="">Answers</a></li>
        <li><a href="">Subscriptions</a></li>
        <li><a href="">Comments</a></li>
        <li><a href="">Followers</a></li>
        <li><a href="">Posts</a></li>
        <li><a href="">Questions</a></li>
        <li><a href="">Likes</a></li>
      </ul>
    </div>
    <div class="large-9 small-12 columns buttons">
      <div class="header">All Notifications</div>
      <div id="notifications">
        <div class="newNotification" ng-repeat="newNotification in newNotifications">
          <div class="row">
            <div class="large-1 columns">
              <img src="/assets/Exclamation Mark-100.png" alt="">
            </div>
            <div class="large-11 columns">
              {{newNotification.actor.username}} {{newNotification.action}} your <a ng-href='/thread/{{oldNotification.post}}'>{{newNotification.subject}}</a>
            </div>
          </div>
        </div>
        <div class="oldNotification" ng-repeat="oldNotification in oldNotifications">
          <div class="row">
            <div class="large-1 columns">
              <img src="assets/Megaphone Filled-100.png" alt="">
            </div>
            <div class="large-11 columns">
              {{oldNotification.actor.username}} {{oldNotification.action}} your <a ng-href='/thread/{{oldNotification.post}}'>{{oldNotification.subject}}</a> - {{oldNotification.date | date : shortDate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
