<style>
div.row.fullBody {
  width: 100%;
  margin: 0 !important;
  display: block;
}
nav {
  border-bottom: 1px solid #E1DBD8;
}
nav.top-bar {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E1DBD8;
}
.profileActivity {
  border-left: 1px solid #E1DBD8;
  border-right: 1px solid #E1DBD8;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: white;
  color: black;
}
.profileStats {
  float: left;
}
.profileActivity {
  text-align: center;
}
.profileAbout {
  text-align: right;
}
</style>


<div class="row fullBody">
  <div class="medium-1 columns profileStats">
    LEFT PANEL
  </div>
  <div class="medium-10 column profileActivity">
    MAIN BODY
  </div>
  <div class="medium-1 columns profileAbout">
    RIGHT PANEL
  </div>
</div>















<!-- Test -->
