
<div class="row fullBody">
  <div class="medium-2 columns filler">
    &nbsp;
  </div>

  <!-- FULL HEIGHT PRIMARY COLUMN -->

  <div class="medium-6 columns primaryColumn">
    <div class="row">
      <div class="medium-3 column">
        <img class="profilePicture" src="http://www.lorempixel.com/150/150/people" alt="Profile Picture">
      </div>
      <div class="medium-9 column bioColumn">
        <h3>Charles Watson<br>
          <small>Add Profile Bio <br>
                Profile Description
          </small></h3>
      </div>
    </div>


    <div class="row">
      <div class="medium-3 column profileStats">
        <h5>Feeds</h5>
        <hr>
      </div>
      <div class="medium-9 column profileActivity">
        PRIMARY ACTIVITY FEED
      </div>
    </div>
  </div>

  <!-- INDEPENDENT FULL HEIGHT ABOUT COLUMN -->

  <div class="medium-2 column profileAbout">
    RIGHT PANEL
  </div>


  <div class="medium-2 columns filler">
    &nbsp;
  </div>
</div>















<!-- Test -->
