#loginForm {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 14px 23px 1px rgba(112, 112, 112, 0.86);
  -moz-box-shadow: 0px 14px 23px 1px rgba(112, 112, 112, 0.86);
  box-shadow: 0px 14px 23px 1px rgba(112, 112, 112, 0.86);
  margin-top: 50px; }

#authentication {
  height: 100%;
  width: 100%; }

.btn.btn-social {
  margin-right: 7px;
  min-width: 100px; }

.btn.btn-facebook {
  color: white;
  background-color: #3B5998;
  border-color: #37528C; }

.btn.btn-facebook:hover,
.btn.btn-facebook:focus {
  color: white;
  background-color: #2F487B;
  border-color: #2F487B; }

.btn.btn-google {
  color: white;
  background-color: #dc4e41;
  border-color: #C1453A; }

.btn.btn-google:hover,
.btn.btn-google:focus {
  color: white;
  background-color: #C74539;
  border-color: #AF4138; }

.title {
  color: #e65648;
  text-align: center; }

.buttons {
  text-align: center; }
  .buttons .quora-red {
    background-color: #ff776a; }
  .buttons .quora-green {
    background-color: #a9d128; }

div.row.fullBody {
  width: 100%;
  margin: 0;
  max-width: none; }

nav.top-bar {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E1DBD8; }

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: white;
  color: black; }

.primaryColumn {
  background: red; }

.profileAbout {
  text-align: right;
  background-color: blue; }

.filler {
  background-color: yellow; }

.profileStats {
  background: orange; }

.profileActivity {
  background-color: black; }

.profilePicture {
  margin: 20px 20px 20px 30px;
  border-radius: 50%; }

.bioColumn {
  margin-top: 20px; }
  .bioColumn h3 {
    font-weight: bold; }
  .bioColumn small {
    margin-top: 0; }

hr {
  border-top: 1px solid #E1DBD8; }

.top-bar .name h1 a {
  color: black; }
