/* Main Primary color */
#loginForm {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 14px 23px 1px rgba(112, 112, 112, 0.86);
  -moz-box-shadow: 0px 14px 23px 1px rgba(112, 112, 112, 0.86);
  box-shadow: 0px 14px 23px 1px rgba(112, 112, 112, 0.86);
  margin-top: 50px; }

#authentication {
  height: 100%;
  width: 100%; }

.btn.btn-social {
  margin-right: 7px;
  min-width: 100px; }

.btn.btn-facebook {
  color: white;
  background-color: #3B5998;
  border-color: #37528C; }

.btn.btn-facebook:hover,
.btn.btn-facebook:focus {
  color: white;
  background-color: #2F487B;
  border-color: #2F487B; }

.btn.btn-google {
  color: white;
  background-color: #dc4e41;
  border-color: #C1453A; }

.btn.btn-google:hover,
.btn.btn-google:focus {
  color: white;
  background-color: #B92B27;
  border-color: #AF4138; }

h1.title {
  font-size: 1.7rem; }

.title {
  color: #B92B27;
  text-align: center; }

.buttons button {
  text-align: center;
  padding: .5rem 1rem 0.5rem;
  background-color: #B92B27;
  font-size: .875rem; }

.buttons .quora-change {
  border-bottom: 4px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  outline: none; }

.buttons .quora-change:hover {
  border-bottom: 0px solid #c8c8c8;
  border-right: 0px solid #c8c8c8;
  border-left: 0px solid #c8c8c8; }

.buttons .quora-change:active {
  border-bottom: 0px solid #c8c8c8;
  border-right: 0px solid #c8c8c8;
  border-left: 0px solid #c8c8c8;
  outline: none; }

.buttons .animated {
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease; }

.buttons .animated:active {
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease; }

.buttons .button:focus, .buttons .button:hover {
  background-color: #6D0300; }

.button.alert:focus, .button.alert:hover, .button.alert:focus, .button.alert:hover {
  background-color: #6D0300; }

div.row.fullBody {
  width: 100%;
  margin: 0;
  max-width: none; }

nav.top-bar {
  background-color: #FFFFFF; }

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: white;
  color: black; }

.profilePicture {
  margin: 20px 20px 20px 30px;
  border-radius: 50%; }

.bioColumn {
  margin-top: 1em; }
  .bioColumn small {
    margin-top: -.5em; }

hr {
  border-top: 1px solid #E1DBD8; }

#rightColumn {
  margin-top: 1em; }

.top-bar .name h1 a {
  color: #B92B27; }

nav.top-bar li.has-form {
  background-color: #FFFFFF;
  color: #B92B27; }

nav.top-bar a {
  background-color: #FFFFFF;
  color: #B92B27; }

.navBarLine {
  top: 0;
  border-top: 1px solid #E1DBD8;
  margin: 0; }

.button.alert {
  background-color: #B92B27; }

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #B92B27; }

.top-bar .toggle-topbar span {
  color: #B92B27; }

quora-title {
  font-weight: strong; }

.commentSection {
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px; }

.commentBody {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px; }

.commentInput {
  margin-bottom: -20px; }
