
.commentSection{
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.commentBody{
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}


.commentInput{
  margin-bottom: -20px;
}
