.top-bar .name h1 a {
  color: $quora-base;
}
nav.top-bar li.has-form {
  background-color: #FFFFFF;
  color: $quora-base;
}
nav.top-bar a {
  background-color: #FFFFFF;
  color: $quora-base;
}
.navBarLine {
  top: 0;
  border-top: $lineGrey;
  margin: 0;
}

.button.alert {
  background-color: $quora-base;
  // border-color: #cf2a0e;
  // color: #FFF;
}
