#navContainer{
  border-top: 3px solid $quora-base;
}

.top-bar .name h1 a {
  color: $quora-base;
}
nav.top-bar li.has-form {
  background-color: #FFFFFF;
  color: $quora-base;
}
nav.top-bar a {
  background-color: #FFFFFF;
  color: $quora-base;
}
.navBarLine {
  top: 0;
  border-top: $lineGrey;
  margin: 0;
}

.button.alert {
  background-color: $quora-base;
}

.top-bar-section li:not(.has-form) a:not(.button):hover{
  background-color: $quora-base
}

.top-bar .toggle-topbar span {
  color: $quora-base;
}

quora-title {
  font-weight: strong;
}
