.filter a{
  color: #3284ac;
  font-size: 14px;
}

#notifications{
  margin-top: -20px;
}

.newNotification{
  padding: 10px;
  border-bottom: 1px solid $grey;
  background-color: $quora-light;
  color: white;
}

.newNotification:hover{
  background-color: $quora-base;
  color: white;
}

.oldNotification{
  padding: 10px;
  border-bottom: 1px solid $grey;
}

.oldNotification:hover{
  background-color: $quora-hover-grey;
}
