div.row.fullBody {
  width: 100%;
  margin: 0;
  max-width: none;
}
nav.top-bar {
  background-color: #FFFFFF;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: white;
  color: black;
}

.profilePicture {
  margin: 20px 20px 20px 30px;
  border-radius: 50%;
}
.bioColumn {
  margin-top: 1em;
  small {
    margin-top: -.5em;
  }
}
hr {
  border-top: $lineGrey;
}
#rightColumn {
  margin-top: 1em;
}
#editUserButton{
  margin-right: .5em;
}
