a{
  color: black;
}

ul{ list-style-type: none; }

.topic{
  font-family: $headerFont;
  font-size: 20px;
  color: black;
}

.topic:hover{
  font-family: $headerFont;
  font-size: 20px;
  padding-bottom: 2px;
}

.author:hover{
  color: $quora-light;
}

button{
  border-radius: 3px;
}

.buttons .dislikeBtn{
  background-color: $grey;
}

.buttons .dislikeBtn:hover{
  background-color: #797979;
}

.sweet-alert fieldset{
  display: none;
}
