  /* Main Primary color */
$quora-base : #B92B27;
$quora-highlight : #F9807D;
$quora-light : #D54d4A;
$quora-medium : #97130F;
$quora-dark : #6D0300;
$lineGrey: 1px solid #E1DBD8;
$grey: #acacac;
$headerFont: 'Quattrocento', serif;
